<nav class="navbar navbar-inverse">
	<div class="game-title">
		<div class="game-logo__title"><img src="https://www.digioutsource.com/Digioutsource.com/media/www-digioutsource.com/digi-outsource-logo.png" alt="digi-outsource-logo"></div>
		<span>Puzzle Game</span>
	</div>
</nav>
<div class="ImagePuzzleContainer">
	<video autoplay muted loop id="myVideo">
		<source src="../assets/Life at DigiOutsource.mp4" type="video/mp4">
	</video>
	<script>
		document.getElementById('myVideo').play();
	</script>
	<app-image-puzzle></app-image-puzzle>
</div>