<nav class="navbar navbar-inverse">
	<div class="game-title">
		<div class="game-logo__title"><img src="https://www.digioutsource.com/Digioutsource.com/media/www-digioutsource.com/digi-outsource-logo.png" alt="digi-outsource-logo"></div>
		<span>Puzzle Game</span>
	</div>
</nav>
<div class="ImagePuzzleContainer">
	<video autoplay muted loop id="myVideo">
		<source src="https://r1---sn-vgqskn7e.googlevideo.com/videoplayback?expire=1604020504&ei=uBSbX4XrNc3Ykgbq4YAg&ip=184.170.242.135&id=o-AE6Lnty7T-yivVFDFkgf5BmIp7uPS1CYjVUNs18FfZg4&itag=18&source=youtube&requiressl=yes&vprv=1&mime=video%2Fmp4&gir=yes&clen=20771283&ratebypass=yes&dur=281.356&lmt=1554922942369660&fvip=1&c=WEB&txp=5431432&sparams=expire%2Cei%2Cip%2Cid%2Citag%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cratebypass%2Cdur%2Clmt&sig=AOq0QJ8wRQIhAMWL1E099h5uv7pdUWTitKqXTWrrXtXGSQ33LG6Bd-OSAiBdYgBF3M1arBIewqMOmdnRwVEab5cLBo3-d0NuO3SLAQ%3D%3D&redirect_counter=1&cm2rm=sn-a5mk67e&req_id=cd054b5f55a8a3ee&cms_redirect=yes&mh=4i&mip=196.250.151.67&mm=34&mn=sn-vgqskn7e&ms=ltu&mt=1603998893&mv=D&mvi=1&pl=0&lsparams=mh,mip,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAPKeWD4GVoMfc_3zs5Uw6iVl1tH2-F6chSFSEsZIFTE4AiBg2TXTYjObDA9oSiAiYtIXH8VHfhM41KJjNFsmmk6eMA%3D%3D" type="video/mp4">
	</video>
	<app-image-puzzle></app-image-puzzle>
</div>